.story{
    width: 100%;
    height: 170px;
    display: flex;
    margin-top: 10px;
    justify-content: center;
    .story-center{
        width: 100%;
        height: inherit;
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slider-item{
                width: inherit;
                height: inherit;
                padding-top: 20px;
                text-align: center;
                justify-content: center;

                img{
                    width: 74px;
                    height: 74px;
                    border-radius: 50%;
                    outline: 2px solid purple;
                    outline-offset: 3px;
                    margin-bottom: 20px;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 15px;
                    cursor: pointer;
                }
                .live-lable{
                  display: flex;
                  width: 30px;
                  height: 25px;
                  margin-right: 40px;
                  margin-top: -38px;
                  padding-right: 5px;
                  padding-top: 3px;
                  text-align: center;
                  border: #fff solid 0.8px;
                  border-radius: 5px;
                  background-color: #e03d96;
                  transform: translatey(30%);
                  z-index: 99999;
                  font-family: var(--fontFamily);
                  font-size: 11px;
                  color: whitesmoke;
                  cursor: pointer;
                }
                .time-lable{
                  display: flex;
                  width: 30px;
                  height: 25px;
                  margin-right: 40px;
                  margin-top: -38px;
                  padding-right: 2px;
                  padding-top: 3px;
                  text-align: center;
                  border: #e03d96 solid 0.8px;
                  border-radius: 5px;
                  background-color: #fdecf5 ;
                  transform: translatey(30%);
                  z-index: 99999;
                  font-family: var(--fontNumber);
                  font-size: 11px;
                  color: #e03d96;
                  cursor: pointer;
                }
                h6{
                    width: 70%;
                    margin: 10px auto;
                    font-family: var(--fontFamily);
                    font-size: 11px;
                    line-height: 20px;
                    color: rgb(97, 93, 93);
                    cursor: pointer;
                }
            }
          }

          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}


