.amazing{
    width: 100%;
    height: 350px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    .amazing-center{
        width: 90%;
        height: 300px;
        background-color: crimson;
        border-radius: 15px;
        padding: 20px 20px 20px 0 ;
        .swiper {
            width: 100%;
            height: 100%;
          }
      
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            .swiper-slide-item{
                width: inherit;
                height: inherit;
                .img-1{
                    width: 88px;
                    height: 88px;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 10px;
                }
                .clock{
                    width: 100%;
                    height: 30px;
                    display: flex;
                    flex-flow: row-reverse wrap;
                    justify-content: center;
                    align-items: center;
                    column-gap: 1px;
                    margin-bottom: 10px;
                    div{
                        width: fit-content;
                        height: 25px;
                        background-color: whitesmoke;
                        display: flex;
                        align-items: center;
                        padding: 0 5px;
                        border-radius: 5px;
                        box-shadow: 0 0  5px lightgrey;
                        font-family: var(--fontNumber);
                        font-size: 20px;
                    }
                    .colon{
                        background-color: transparent !important;
                        box-shadow: none !important;
                        font-family: none;
                        color: whitesmoke;
                    }
                   
                }
                .img-2{
                    width: 80px;
                    height: 80px;
                    display: block;
                    margin: 10px auto;
                }
                .swiper-slide-item-observe{
                    width: 100%;
                    a{
                        text-align: center;
                        font-family: var(--fontFamily);
                         display: flex;   
                         align-items: center;
                         justify-content: center;
                         text-decoration: none;
                         color: whitesmoke;
                         font-size: 12px;
                        img{
                            width: 18px;
                            height: 18px;
                        }
                    }
                    
                }
            }
            .swiper-slide-item-product{
                padding:10px;
                width: 100%;
                height: inherit;
                .amazing-image{
                    width: 132px;
                    height: 132px;
                    display: block;
                    margin:  5px auto;
                }
                h6{
                    font-family: var(--fontFamily);
                    font-size: 12px;
                    display: -webkit-box;
                    overflow: hidden;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    line-height: 25px;
                    margin-bottom: 5px;
                    width: 80%;
                    margin: 0 auto;
                }
                .price{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    flex-flow: row-reverse wrap;
                    font-family: var(--fontNumber);
                    .price-discount{
                        background-color: crimson;
                        border-radius: 10px;
                        padding: 0px 10px;
                        color: whitesmoke;
                    }
                }
                .discount{
                    width: 100%;
                    text-decoration: line-through;
                    text-align: left;
                    font-family: var(--fontNumber);
                    color: lightgray;
                    padding-left: 15px;
                }
            }
          }
      
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
    }
}
.transparent{
    background-color: transparent !important;
}
.radiusAmazing{
    border-radius: 0 10px 10px 0 ;
}